.slider {
  margin-top: 46px;
}
.followbtn {
  margin-left: 5px;
  outline: none;
  border: none;
  color: white;
  width: 150px;
  height: 60px;
  width: 150px;
  height: 60px;
  background: #3772ff 0% 0% no-repeat padding-box;
  border-radius: 40px;
  opacity: 1;
}
.followbtn-toggle {
  background: #f05454 0% 0% no-repeat padding-box;
}
.job {
  font: normal normal normal 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #767d8f;
  opacity: 1;
}
.avatar-text {
  font: normal normal normal 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #dddddd;
  opacity: 1;
}
@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
    height: auto;
  }
}
