.font-text {
  font-size: 12px;
}
.creator-card {
  width: 250px;
  height: 300px;
  border-radius: 25px;
  padding: 23px 35px;
  margin-bottom: 125px;
  background-color: #141416;
  transition: height 0.2s, margin-bottom 0.2s;
}
.creator-card:hover {
  height: 326px;
  margin-bottom: 99px;
}
.creator-card button {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  border: none;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  margin-bottom: 10.5px;
}
.font-icons {
  line-height: 30px;
  font-size: 24px;
  color: white;
  margin-bottom: 10.5px;
}
.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 28px;
  margin-bottom: 14px;
  transition: height 0.2s, width 0.2s, border-radius 0.2s;
}
.creator-card:hover .avatar {
  height: 120px;
  width: 120px;
  border-radius: 60px;
}
.card h6 {
  font: normal normal normal 18px/22px Montserrat;
  color: #dddddd;
  margin-bottom: 0;
}
.card h6 ~ p {
  text-align: center;
  font: normal normal normal 12px/15px Montserrat;
  color: #dddddd;
}
@media (max-width: 600px) {
  .creator-card {
    margin-bottom: 10px;
  }
}
